<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Favicon Link -->
    <link rel="icon" href="/assets/images/favicon.ico">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Scroll Reveal CDN -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtc2n06CEN2LjogP1MKvBO3X1opLxfIOk&callback=initMap&libraries=&v=weekly"
        defer></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/gmap.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/smooth-scroll.js"></script>
    <title>Lockhart Lounge</title>
</head>

<body>


    {{{body}}}



    <!-- Contact Section -->
    <section class="contact" id="contact">
        <div class="container">
            <div>
                <h2 class="contact-sub-headline">Contact <span class="line">--------</span></h2>
                <h1 class="contact-headline">Get In Touch</h1>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 border-right">
                <i class="fas fa-map-marker-alt contact-icon"></i>
                <br>
                <p class="lead contact-text">219 Tech Avenue NE</p>
                <p class="lead contact-text" id="city">Atlanta, GA</p>
            </div>
            <div class="col-md-4 border-right">
                <i class="fas fa-phone-alt contact-icon"></i>
                <br>
                <p class="lead contact-text">704.267.3376</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-envelope contact-icon"></i>
                <br>
                <p class="lead contact-text">contact@lockhart.com</p>
            </div>
        </div>
        <div class="contact-container">
            <div class="row">
                <div style="height: 50vh" class="col-md-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End Contact Section -->


</body>

</html>