<section id="hero" class="hero">
    <div class="container">
        <h2 class="sub-headline">Welcome</h2>
        <h1 class="headline">Lockhart Lounge</h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                <div class="line line-right"></div>
            </div>
            <div>
                <h1 class="menu-headline">Your order was succesful! It will be ready in 30 minutes</h1>
                <a href="/" class="btn cta-btn">Back Home</a>
                <br>
            </div>

        </div>
    </div>
</section>